<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Good Data</title>
    </head>
    <body>
        <a href="index2.php?getKategories">Logga ut </a>
        <ul>
<!-- Twigg-syntaxs för att göra utskrifter är "måsvingar" -->
            {%for Vara in varor%}

                <li>{{Vara.id}},{{Vara.namn}},{{Vara.kategori}},{{Vara.pris}},<a href='{{Vara.bildurl}}'alt='bild på {{Vara.namn}}'>{{Vara.bildurl}}</a>,{{Vara.infoshort}},{{Vara.infoshort}} </li>
                {%endfor%}
        </ul>

        <form action="index2.php?deleteVara" method="POST"> <!-- Action säger vilken php fil som formuläret använder sig av. Methoden för att 
            skicka datan med HTTP_POST -->
            Radera ID <input type="text" name="id"><span style="color:red;">{{error.id}}</span> <input type="submit" value="Submit"> 
        </form>
        <form action="index2.php?updateVara" method="POST">
            Uppdatera på ID <input type="text" name="id"> <span style="color:red;">{{error.id}}</span>  Namn <input type="text" name="namn"> Kategori  <input type="text" name="kategori"> pris <input type="text" name="pris">  url till bild  <input type="text" name="bildurl"> kort info  <input type="text" name="infoshort">  lång info  <input type="text" name="infolong"> <input type="submit" value="Submit"> <span style="color:red;">{{error.pris}}</span> 
        </form>
       <form action="index2.php?addVara" method="POST">
           Lägga till vara <input type="text" name="id" value="ID skapas automatiskt" disabled> Namn <input type="text" name="namn"> Kategori  <input type="text" name="kategori"> pris <input type="text" name="pris">  url till bild  <input type="text" name="bildurl"> kort info  <input type="text" name="infoshort"> lång info  <input type="text" name="infolong"> <input type="submit" value="Submit"> <span style="color:red;">{{error.pris}}</span> 
        </form>

    </body>
</html>