<!DOCTYPE html>

<html lang="se" xml:lang="se">
    <head>
        <meta name="robots" content="noindex, nofollow"> 

        <title>Good Data</title>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../style_nykundvagn.css">

        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>



    </head>
    <body>

        <div class="container">


            <main>
                <strong>Här är du: <a href="index2.php?getKategories">Hem </a> > Kundvagn</strong>
                <div class="kassa"><!--<a href="">--></div>



                <table>
                    <thead>
                        <tr>
                            <th>Artikelnummer</th>
                            <th>Namn</th>
                            <th>Pris</th>
                            <th>Summa</th>
                            <th>Minska/tabort</th>
                            <th>Lägga till</th>


                        </tr>
                    </thead>
                    <tbody>
                        
                        {%for temp in kundvagnen%}
              <!--  {{temp[0].pris}} -->

                     <tr>
                          
                            <td>{{temp[0].id}}</td>
                            <td>{{temp[0].namn}}</td>
                            <td>{{temp[0].pris|number_format(2,',',' ')}} kr</td>
                            <td>{{temp[1]}}</td>
                            <td>{{(temp[1] * temp[0].pris)|number_format(2,',',' ')}} kr</td>
                            <td><a href='index2.php?deletefromCart/{{temp[0].id}}'>Ta bort</a></td>
                            <td><a href='index2.php?addtoCart/{{temp[0].id}}'>Lägg till</a></td>
                        </tr>
                         {%endfor%}
        <tr> <!-- number_format. Först 2 för antal decimaler. , för decimaltecken och mellanrum " "
            för tusental. -->
            <td>Att betala: {{attBetala|number_format(2, ',', ' ')}} kr</td>
        </tr>
        
        
    </tbody>
    
</table>




</main>

<footer>

<div class="kontaktinfo">
<p>Good Data<br>Gatan 1<br>78100 Borlänge<br>Tel: +46(0)243-12345</p>
<br>
<img src="../hemsida_bilder/trygg_e-handel.png" alt="Logga trygg e-handel">
</div>
<div class="betalsätt"><p><strong>Betalsätt</strong><br>Konto-/kreditkort, faktura</p></div>

<div class="infoupdate"><script>document.write("Informationen uppdaterad " + document.lastModified);</script>
<br><br>
<img src="../hemsida_bilder/support-self-storage-software_0.png" alt="Bild på kvinna/support">
</div>
</footer>

</div>

<div class="clearfix"></div>
<div>
<p>
<a href="http://validator.w3.org/check?uri=referer"><img
src="http://www.w3.org/html/logo/downloads/HTML5_Logo_64.png"
alt="Valid HTML5" height="50" width="50"
style="border:0;" /></a>
</p>
<p>
<a href="http://jigsaw.w3.org/css-validator/check/referer">
<img style="border:0;width:88px;height:31px"
src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
alt="Valid CSS!" />
</a>
</p>
</div>



</body>

</html>
